.directory
Old*
Old/*
Sandbox/*
t/Software/*
t/Travis-ci/*
t/Appveyor/*
*.log
*.mlog
.precomp
*/.precomp
**/.precomp/*
*.zargo~
~*
.bundle/*
Gemfile.lock
**/vendor/*
**/_site
xt/TestServers/*
*.desktop