[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = testserver

[dn]
CN = github.martimm.io
emailAddress = mt1957@gmail.com
O = Raku Developer Corp
ST = Noord-Holland
L = Haarlem
C = NL

[ext]
subjectAltName = DNS:github.martimm.io,DNS:martimm.io
